name: flutter_overlay_window
description: A Flutter plugin for showing overlay windows with fixed size support
version: 0.5.1
homepage: https://github.com/flutter/flutter

environment:
  sdk: '>=2.17.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: flutter.overlay.window.flutter_overlay_window
        pluginClass: FlutterOverlayWindowPlugin

